torch>=1.6
torchmetrics>=0.2.0
pytorch-lightning>=1.2.0
torchvision
kornia>=0.4  # todo: it shall be 0.4.x or 0.5 as there is bug and performance issue
https://github.com/kornia/kornia/archive/refs/heads/master.zip
pandas
matplotlib
seaborn

# Stream App
streamlit
gdown

# extra
https://github.com/Borda/imbalanced-dataset-sampler/archive/refs/heads/master.zip
