torch>=1.6
torchmetrics>=0.3.0
pytorch-lightning>=1.3.0
torchvision
kornia>=0.5.2
pandas
matplotlib
seaborn

# Stream App
streamlit
gdown

# extra
https://github.com/Borda/imbalanced-dataset-sampler/archive/refs/heads/master.zip
