torch>=1.8
torchmetrics>=0.7.0
pytorch-lightning>=1.5.0
torchvision
kornia>=0.5.2
pandas
matplotlib
seaborn

# CLI
jsonargparse

# Stream App
streamlit
gdown

# extra
https://github.com/Borda/imbalanced-dataset-sampler/archive/refs/heads/master.zip
